/Modules/Saas/

/node_modules
/public/hot
/public/modules/*
/public/storage/pages/*
/public/storage/user_storage/*
/resources/lang/vi/
/resources/lang/vi.json
/storage/*.key
/storage/installed
/storage/upgrade/*
/storage/logs/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store
__MACOSX/